#footer {
  display: flex;
  padding: 0;
  margin-top: 60px;
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 65px;
  width: 100%;
}

#bluesky {
 
}
#github {
  
}

.social-icon, #copyright {
  margin: auto 20px;
}

#social-icons-footer {
  display: flex;
  flex-direction: row;
  
  
}