.footer {
  display: flex;
  padding: 0;
  margin-top: 60px;
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 65px;
  width: 100%;
}

.socialIcon img{
  height: 32px;
}

.socialIcon, .copyright {
  margin: auto 20px;
}


.socialIconsFooter {
  display: flex;
  flex-direction: row;

 
  
}